<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Preencha estes dados para enviar codigo real de recuperacao por e-mail. -->
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpEnableSsl" value="true" />
    <add key="SmtpUser" value="sistematstsenac@gmail.com" />
    <add key="SmtpPassword" value="mxon hqau txzy lgsr" />
    <add key="SmtpFrom" value="sistematstsenac@gmail.com" />
  </appSettings>
</configuration>
